.custom-primary {
  background-color: white;
  color: #4c5fd5;
}

.custom-secondary {
  background-color: black;
  color: #dadbf1;
}

.custom-success {
  background-color: white;
  color: #000000;
}

.custom-danger {
  background-color: black;
  color: #fff;
}

/* Add hover effects
.custom-primary:hover {
  background-color: #c04e2a;
}

.custom-secondary:hover {
  background-color: #0097a7;
} */
